body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  color: blueviolet;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

code {
  color: red;
}

.second-li code {
  color: green;
}

li ~ li {
  background-color: black;
  color: white;
}

ol li {
  background-color: black;
  color: white;
}
